{% extends "base.html" %}
{% import "bootstrap/wtf.html"  as wtf %}

{% block title %}Pair App{% endblock%}
{% block content %}

<p id="username" hidden>{{ current_user.username }}</p>
<p id="session_id" hidden>{{ current_user.id }}</p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Invite</h2>
        <form>
          <div class="form-group">
            <label for="first_cell">Select a user</label>
              <select class="formcontrol" name="usernames">
              {% for user in users%}
                <option value="{{ user.username}}">{{ user.username}}</option>
              {% endfor %}

              </select>
              </div>
                <div class="form-group">
                  <label>Chatroom:</label>
                    <input class="form-control" id="room" name="chat_room" placeholder="Enter Chat Room name">
                </div>
                <div class="form-group">
                        <label for="session_link">Session Link:</label>
                        <input  class="form-control"  name="session_link" placeholder="Paste your session link">
                </div>
              
              <input type="submit" class="btn btn-primary" value="Send Invite">
        </form>
        </div>
        <div class="col-md-8"> 
        <div id="firepad"></div>
        </div>
        <div class="col-md-2">
           <div> <a href="{{ url_for('main.new_session') }}">
                My sessions:
            </a></div> 
        </div>

{% endblock %} 
