{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="container">

    <p>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        {% if dismissable %}
             <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% endif %}
             {{ message }}
        </div>
    {% endfor %}

    <div class="center jumbotron">     
        <h2>PAIR PROGRAM</h2><br>
        <p> Hey there coders! Get ready to rumble!!</p>
        <p><a class="btn btn-primary btn-lg login-btn" href="/login" role="button">Login to continue</a></p>
    </div>

    
{% endblock %}